formats = {
  R8G8B8A8 = {compressed=false, alpha=true}
  A8R8G8B8 = {compressed=false, alpha=true}

  R16G16B16A16F = {compressed=false, alpha=true}
  R32G32B32A32F = {compressed=false, alpha=true, hidden=true}

  R32F = {compressed=false, alpha=true, hidden=true}
  R16F = {compressed=false, alpha=true, hidden=true}
  R16UNORM = {compressed=false, alpha=true, hidden=true}
  R16G16F = {compressed=false, alpha=true, hidden=true}

  BC1 = {min_width=4, min_height=4, alpha=false, hidden=true}
  BC2 = {min_width=4, min_height=4, alpha=false, hidden=true}
  BC3 = {min_width=4, min_height=4, alpha=false, hidden=true}
  BC4 = {min_width=4, min_height=4, alpha=false}
  BC5 = {min_width=4, min_height=4, alpha=false}
  BC7 = {min_width=4, min_height=4, alpha=true}

  DXT1 = {min_width=4, min_height=4, alpha=true}
  DXT1a = {min_width=4, min_height=4, alpha=true}
  DXT3 = {min_width=4, min_height=4, alpha=false}
  DXT5 = {min_width=4, min_height=4, alpha=true}
  DXT5n = {min_width=4, min_height=4, alpha=false}
}

platforms = {
  win32 = {
    formats = [
      "R8G8B8A8", "A8R8G8B8",
      "R16G16B16A16F", "R32G32B32A32F",
      "R32F", "R16F", "R16UNORM", "R16G16F",
      "BC1", "BC2", "BC3", "BC4", "BC5",
      "DXT1", "DXT1a", "DXT3", "DXT5", "DXT5n"
    ]
  }
}
